* {
    box-sizing: border-box;
}

body {
    font-family: 'Righteous', cursive;
    font-family: 'Roboto', sans-serif;
    background-color: #e5e5e5;
}


.site .barra-superior {
    background-color: #cf2b2b;
    box-shadow: 0px 3px 5px gray;

    position: fixed;

    height: 92px;
    width: 100%;
    padding: 8px 21px;
}
.site .barra-superior .logo {
    color: #ffffff;
    font-family: 'Righteous';
    font-size: 44px;

    width: 248px;
    height: 44px;
}
.site .barra-superior .subtitulo {
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 18px;

    width: 226px;
    height: 17px;
    margin-top: 5px;
}

.site .corpo {
    background-color: #EEEEEE;
    color: #333333;
    font-family: 'Righteous';
    font-size: 26px;

    width: 100%;
    padding-top: 123px;
    padding-left: 19px;
    padding-bottom: 92px;
}
.site .corpo .pratos {
    display: flex;
    overflow: scroll;
    gap: 16px;
}
.site .corpo .pratos .opcao {
    background-color: #ffffff;

    display: flex;
    flex-direction: column;

    border-radius: 9px;
    box-shadow: 1px 1px 4px gray;

    width: 172px;
    height: 256px;
    margin-top: 17px;
    margin-bottom: 27px;
    padding: 18px 14px 8px 14px;
}
.site .corpo .pratos .opcao img {
    border-radius: 9px;

    width: 144px;
    height: 87px;
}
.site .corpo .pratos .opcao h1 {
    color: #333333;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 700;

    margin-top: 8px;
}
.site .corpo .pratos .opcao h2 {
    color: #a6a6a6;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 300;

    margin-top: 12px;
}
.site .corpo .pratos .opcao .preco {
    color: #000000;
    font-family: 'Roboto';
    font-size: 16px;

    display: flex;

    margin-top: 5px;
}
.site .corpo .bebidas {
    display: flex;
    overflow: scroll;
    gap: 16px;
}
.site .corpo .bebidas .opcao {
    background-color: #ffffff;

    display: flex;
    flex-direction: column;

    border-radius: 9px;
    box-shadow: 1px 1px 4px gray;

    width: 172px;
    height: 216px;
    margin-top: 17px;
    margin-bottom: 27px;
    padding: 18px 14px 8px 14px;
}
.site .corpo .bebidas .opcao img {
    border-radius: 9px;

    width: 144px;
    height: 87px;
}
.site .corpo .bebidas .opcao h1 {
    color: #333333;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 700;

    margin-top: 8px;
}
.site .corpo .bebidas .opcao h2 {
    color: #a6a6a6;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 300;

    margin-top: 12px;
}
.site .corpo .bebidas .opcao .preco {
    color: #000000;
    font-family: 'Roboto';
    font-size: 16px;

    display: flex;

    margin-top: 9px;
}
.site .corpo .sobremesa {
    display: flex;
    overflow: scroll;
    gap: 16px;
}
.site .corpo .sobremesa .opcao {
    background-color: #ffffff;

    display: flex;
    flex-direction: column;

    border-radius: 9px;
    box-shadow: 1px 1px 4px gray;

    width: 172px;
    height: 216px;
    margin-top: 17px;
    padding: 18px 14px 8px 14px;
}
.site .corpo .sobremesa .opcao img {
    border-radius: 9px;

    width: 144px;
    height: 87px;
}
.site .corpo .sobremesa .opcao h1 {
    color: #333333;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 700;

    margin-top: 8px;
}
.site .corpo .sobremesa .opcao h2 {
    color: #a6a6a6;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 300;

    margin-top: 12px;
}
.site .corpo .sobremesa .opcao .preco {
    color: #000000;
    font-family: 'Roboto';
    font-size: 16px;

    display: flex;

    margin-top: 9px;
}


.site .barra-inferior {
    background-color: #ffffff;

    position: fixed;
    bottom: 0;

    width: 100%;
    height: 92px;
    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 16px;
    padding-left: 25px;
}
.site .barra-inferior .botao {
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    
    border-radius: 50px;
    height: 61px;
}


.selecionado {
    border: 6px solid #32B72F;
}
.desativado {
    background-color: #cbcbcb;
}
.ativo {
    background-color: #32B72F;
}